@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    overflow: hidden;
}

#root {
    /* Gunakan variabel --app-height yang kita set dari JavaScript */
    /* Fallback ke 100vh untuk browser yang tidak memiliki masalah */
    height: var(--app-height, 100vh);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}